.flex-item {
    display: flex;
}

.logo {
    font-size: 40px;
}

.search-container {
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 70px;
  
}

.search-input {
    width: 200px;
    height: 20px;
    border:2px solid black;
}

